form(action="/books/create/updatebook/"+ id.id, method="get")
    label(for="add") Description Book: 
    input(id="add" type="text", name="description")
    br
    br
    input(type="submit", value="Cập nhật")
